.header {
   
   padding: 60px 0;
   @include media-laptop {
      padding: 30px 0 60px;
   }
   
   
   &__wrapper {
      height: 60px;
      @extend %flex-between;

      @include media-tablet{
         justify-content: flex-start;
      }
   }

   &__logo{
      @extend %flex-center;
      z-index: 3;
   }
   
   .logo-move{
      position: absolute;
      top: 30px;
      right: 53px;
      transition: all 0.5s ease-in-out;
   }

   &-light{
      padding: 30px 0;
      position: sticky;
      top: 0;
      background: $color-light;
   }

}
.logo-dark {
   .logo__title {
      color: $color-dark-l;
   }
   .logo__subtitle {
      color: $color-dark-3xl;
   }
}