.header {
   padding: 30px 0;
   position: sticky;
   top: 0;
   background: $color-light;

   &__wrapper {
      height: 60px;
      @extend %flex-between;
   }
}

.logo {
   &__title {
      color: $color-dark-l;
   }
   &__subtitle {
      color: $color-dark-3xl;
   }
}

.navigation {
   &__link {
      color: $color-dark-l;
      &:hover {
         color: $color-dark-3xl;
      }
   }
   
   .active {
      color: $color-dark-l;
   }
}
