.header {
   
   padding: 60px 0;
   @include media-laptop {
      padding: 30px 0 60px;
   }
   
   
   &__wrapper {
      height: 60px;
      @extend %flex-between;

      @include media-tablet{
         justify-content: flex-start;
      }
   }


}