.navigation { 

   @include media-tablet {
      height: 100vh;
      width: 320px;
      position: absolute;
      right: 0px;
      top: 0;
      z-index: 2;
      background-color: $color-dark-3xl;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;

      &-active {
         transform: translateX(0%); 
      }
   }

   &__list {
      @extend %flex-between;
      padding: 0;
      
      @include media-tablet{
         flex-direction: column;
      }
   }

   &__item {
      margin-left: 35px;
      list-style-type: none;
      
      @include media-tablet{
         margin-bottom: 40px;
      }
   }
   
   &__link {
      color: $color-dark-s;
      text-decoration: none;
      &:hover {
         color: $color-light-s;
      }
      &:visited {
         text-decoration: none;
      }
   }
   
   .active {
      color: $color-light-s;
      border-bottom: $color-primary 3px solid;
   }

   &-light {
      @include media-tablet {
         background-color: $color-light-s;
      }

      .navigation__link {
         color: $color-dark-l;
         &:hover {
            color: $color-dark-3xl;
         }
      }
      
      .active {
         color: $color-dark-l;
      }
   }

}