.navigation {
   @include media-tablet {
      height: 100vh;
      width: 320px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      background-color: $color-dark-3xl;
      display: flex;
      justify-content: center;
      align-items: center;
      &-active {
         transform: translateX(100%); 
      }
   }

   &__list {
      @extend %flex-between;
      padding: 0;
      
      @include media-tablet{
         flex-direction: column;
      }
   }

   &__item {
      margin-left: 35px;
      list-style-type: none;
      
      @include media-tablet{
         margin-bottom: 40px;
      }
   }
   
   &__link {
      color: $color-dark-s;
      text-decoration: none;
      &:hover {
         color: $color-light-s;
      }
      &:visited {
         text-decoration: none;
      }
   }
   
   .active {
      color: $color-light-s;
      border-bottom: $color-primary 3px solid;
   }

}