.donation {
   background: $color-light-l;
   @extend %padding-80-100;

   &__wrapper {
      @extend %flex-center;
   }

   &__information {
      max-width: 380px;
      padding: 1px 0;
      margin-left: 30px;
   }

   &__title {
      max-width: 300px;
   }

   &__subheading {
      margin: 20px 0;
   }

   &__credit-card {
      @extend %flex-center;
      display: inline-flex;
      margin-bottom: 20px;
      padding: 10px 15px;
      background: $color-primary;
      border-radius: 9px;
   }

   .credit-card_number {
      margin-left: 15px;
   }

   &__text {
      color: $color-dark-m;
   }
}