$color-light: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark: #000000;
$color-dark-3xl: #292929;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;

$color-heading: #545454;
$color-text: #4C4C4C;

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$wrapper-width: 1200px;
$content-width: 1280px;
$content-tablet: 768px;
$content-mobile: 320px;