@mixin font ($size, $height: $size, $weight:normal, $style:normal) {
   font-style: $style;
   font-weight: $weight;
   font-size: $size;
   line-height: $height;
}

@mixin george-space($letter-space: 0.06em) {
   font-family: Georgia, 'Times New Roman', Times, serif;
   letter-spacing: $letter-space;
}