.about {
   @extend %padding-80-100;
   background-color: $color-light;
   @include media-tablet{
      padding: 42px 0;
   }

   &__wrapper {
      @extend %flex-center;
      @include media-laptop{
         flex-direction: column-reverse;
      }
   }

   &__content {
      max-width: 430px;
      margin-left: 120px;

      @include media-laptop{
         margin-left: 0;
         margin-bottom: 80px;
      }
      @include media-tablet{
         margin-bottom: 42px;
         
      }
   }

   &__title {
      max-width: 370px;
      @include media-tablet{
         max-width: 80%;
         text-align: center;
         @include font(2.5rem, 1.3em);
         letter-spacing: 0.06em;
         margin: auto;
      }
   }

   &__text {
      margin: 25px 0;
      &:last-child {
         margin: 0 auto;
      }
      @include media-tablet{
         max-width: 90%;
         text-align: justify;
         margin: 25px auto;
      }
   }

   &__pets {
      @include media-tablet{
         max-width: 86%;
      }
   }

}