.donation {
   background: $color-light-l;
   @extend %padding-80-100;

   @include media-tablet {
      padding: 42px 0;
   }

   &__wrapper {
      @extend %flex-center;
      flex-wrap: wrap;
   }

   &__information {
      max-width: 380px;
      padding: 1px 0;
      margin-left: 30px;
      @include media-laptop{
         order: -1;
         margin-bottom: 60px;
         margin-left: 0;
      }
      @include media-tablet{
         text-align: center;
      }
   }

   &__title {
      max-width: 300px;
      @include media-tablet{
         max-width: 210px;
         margin: auto;
         @include font(2.5rem, 1.3em);
         letter-spacing: 0.06em;
      }
   }

   &__subheading {
      margin: 20px 0;
      @include media-tablet{
         letter-spacing: 0;
      }
   }

   &__credit-card {
      @extend %flex-center;
      display: inline-flex;
      margin-bottom: 20px;
      padding: 10px 15px;
      background: $color-primary;
      border-radius: 9px;

   }
   
   .credit-card_number {
      margin-left: 15px;
      @include media-tablet{
         @include font(1.5rem, 1.1em);
      }
   }

   &__text {
      color: $color-dark-m;
      
      @include media-tablet{
         text-align: justify;
      }
   }

   &__dog {
      @include media-tablet{
         width: 76%;
      }
   }
}