.help {
   @extend %padding-80-100;
   padding-bottom: 45px;
   text-align: center;

   &__wrapper {
      @extend %flex-between;
      flex-direction: column;
   }

   &__title {
      max-width: 310px;
   }

   &__list {
      width: 1026px;
      margin-top: 60px;
      @extend %flex-center;
      flex-wrap: wrap;
      
   }
   
   &__item {
      @extend %flex-center;
      flex-direction: column;
      margin-right: 119px;
      margin-bottom: 55px;

      &:nth-child(5), &:last-child {
         margin-right: 0;
      }
   }

   &__name {
      margin-top: 30px;
   }
}