.pets {
   @extend %padding-80-100;
   background-color: $color-light-l;
   text-align: center;

   @include media-laptop{
      padding-bottom: 76px;
   }
   @include media-tablet{
      padding: 42px 0;
   }

   &__wrapper {
      @extend %flex-center;
      flex-direction: column;
   }

   &__title {
      width: 400px;
      @include media-tablet {
         @include font(2.5rem, 1.3em);
      }
   }

   &__content {
      width: 100%;
      @extend %flex-between;
      flex-wrap: wrap;
      margin: 60px 0 30px;

      @include media-laptop{
         margin: 30px 0 12px;
         justify-content: space-around;
      }
      @include media-tablet{
         margin: 42px 0 12px;
      }
   }
 
   &__card {
      margin-bottom: 30px;
   }

   &__pagination {
      width: 340px;
      @extend %flex-between;
      
      @media (max-width: 414px){
         width: 100%;
      }
   }
}