.pets {
   @extend %padding-80-100;
   background-color: $color-light-l;
   text-align: center;

   &__wrapper {
      @extend %flex-center;
      flex-direction: column;
   }

   &__title {
      width: 400px;
   }

   &__content {
      width: 100%;
      @extend %flex-between;
      flex-wrap: wrap;
      margin: 60px 0 30px;
   }
 
   &__card {
      margin-bottom: 30px;
   }

   &__pagination {
      width: 340px;
      @extend %flex-between;
   }
}