.overlay{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(41, 41, 41, 0.6);
   @extend %flex-center;
}
.pop-up{
   border-radius: 9px;
   position: relative;
   background-color: $color-light;
   &__content{
      @extend %flex-center;
   }
   &__img{
      width: 500px;
      border-radius: 9px 0 0 9px;
   }
   &__cancel{
      position: absolute;
      top: -45px;
      right: -45px;
      background-color: unset;
   }
}
.pet{
   &-information{
      width: 351px;
      padding: 0 20px 0 30px;
      @extend %flex-center;
      flex-direction: column;
      align-items: flex-start;
   }
   &-name{

   }
   &-breed{
      margin-top: 10px;
   }
   &-description{
      margin: 40px 0;
   }
   &-properties{
      @include font(1.5rem, 1.1em);
      @include george-space();
      list-style-type: none;
      li::before{
         content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
         color: $color-primary; /* Change the color */
         font-weight: bold; /* If you want it to be bold */
         display: inline-block; /* Needed to add space between the bullet and the text */
         width: 1em; /* Also needed for space (tweak if needed) */
         margin-left: -2.5em; /* Also needed for space (tweak if needed) */
       
      }
   }
}