.start-screen {
   background: 
      url(../../assets/images/noise_transparent@2x.png), 
      radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), 
      #211F20;

   &__wrapper {
      @extend %flex-between;
   }
   
   &__content {
      width: 460px;
      margin-bottom: 80px;
   }

   &__title {
      width: 310px;
      color: $color-light;
   }

   &__text {
      color: $color-dark-s;
      margin: 42px 0;
   }

}