.start-screen {
   background: 
      url(../../assets/images/noise_transparent@2x.png), 
      radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), 
      #211F20;
      
   @include media-tablet{
      text-align: center;
   }

   &__wrapper {
      @extend %flex-between;
      
      @include media-laptop{
         justify-content: center;
         flex-wrap: wrap;
      }
   }
   
   &__content {
      width: 460px;
      margin-bottom: 80px;
      
      @include media-laptop{
         display: flex;
         flex-direction: column;
         margin-bottom: 100px;
      }
      
      @include media-tablet {
         align-items: center;
         margin-bottom: 105px;
      }
   }

   &__title {
      width: 310px;
      color: $color-light;
      
      @include media-tablet {
         width: 200px;
         @include font(2.5rem, 1.3em);
         letter-spacing: 0.06em;
      }
   }

   &__text {
      color: $color-dark-s;
      margin: 42px 0;
   }

   &__button {
      
      @include media-laptop {
         align-self: center;
      }
   }

   &__puppy {
      
      @include media-laptop {
         max-width: 80.4%;
         transform: translateX(11%);
      }

      @include media-tablet{
         max-width: 86%;
      }
      
   }
}