html {
   font-size: 10px;
   font-family: Arial, Helvetica, sans-serif;
}

* {
   margin: 0;
}

.wrapper {
   max-width: $wrapper-width;
   margin: auto;
   
   @include media-laptop {
      padding: 0 30px;
   }

   @include media-tablet {
      padding: 0 10px;
   }
   
}

h1 {
   @include font(3.2rem, 1.1em);
   @include george-space();
   color: $color-primary;
}

h2 {
   @include font(4.4rem, 1.3em);
   @include george-space(0);
   color: $color-heading;
}

h3 {
   @include font(3.5rem, 1.3em);
   @include george-space();
   color: $color-heading;
}

h4 {
   @include font(2rem, 1.15em);
   @include george-space();
   color: $color-heading;
}

h5 {
   @include font(1.5rem, 1.1em);
   @include george-space();
   color: $color-heading;
}

.paragraph_L {
   @include font(1.5rem, 1.6em);
}

.paragraph_S {
   @include font(1.2rem, 1.5em, $style: italic);
}

a {
   text-decoration: none;
   &:visited {
      text-decoration: none;
   }
}

.hidden {
   display: none;
}