html {
   font-size: 10px;
   font-family: Arial, Helvetica, sans-serif;
}

* {
   margin: 0;
}

.wrapper {
   max-width: $wrapper-width;
   margin: auto;
}

h1 {
   @include font(3.2rem, 1.1em);
   font-family: Georgia, 'Times New Roman', Times, serif;
   letter-spacing: 0.06em;
   color: $color-primary;
}

h2 {
   @include font(4.4rem, 1.3em);
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: $color-heading;
}

h3 {
   @include font(3.5rem, 1.3em);
   font-family: Georgia, 'Times New Roman', Times, serif;
   letter-spacing: 0.06em;
   color: $color-heading;
}

h4 {
   @include font(2rem, 1.15em);
   font-family: Georgia, 'Times New Roman', Times, serif;
   letter-spacing: 0.06em;
   color: $color-heading;
}

h5 {
   @include font(1.5rem, 1.1em);
   font-family: Georgia, 'Times New Roman', Times, serif;
   letter-spacing: 0.06em;
   color: $color-heading;
}

.paragraph_L {
   @include font(1.5rem, 1.6em);
}

.paragraph_S {
   @include font(1.2rem, 1.5em, $style: italic);
}

a {
   text-decoration: none;
   &:visited {
      text-decoration: none;
   }
}