.button-rounded {
   padding: 15px 45px;
   border-radius: 100px;
   outline: none;
   @include font(1.7rem, 1.3em);
   @include george-space();
   color: $color-dark-3xl;
}

.button_primary {
   background-color: $color-primary;
   border: none;
}